body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: #f0f8ff;
}

form {
    margin: auto;
    background-color: #e6f7ff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: #004080;
}

fieldset {
    border: 2px solid #00aaff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f7fbff;
}

legend {
    font-weight: bold;
    color: #004080;
}

label {
    display: block;
    margin-top: 10px;
    color: #333;
}

input, textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 16px);
    border: 1px solid #00aaff;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    background-color: #00aaff;
    color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #007bbd;
}

#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid #00aaff;
    border-radius: 8px;
    background-color: #f0f8ff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    outline: none;
}

#resume-display h2 {
    color: #004080;
    font-size: 1.6em;
}

#shareable-link-container h2, #shareable-link-container p {
    text-align: center;
    color: #004080;
}

#shareable-link-container {
    text-align: center;
    padding: 10px;
}
